@import url('https://fonts.googleapis.com/css2?family=Happy+Monkey&display=swap');

body {
    display: block;
    max-width: 800px;
    margin: 0 auto;
    padding: 50px;
    text-align: center;
    font-family: "Happy Monkey", system-ui;
    font-weight: 400;
    font-style: normal;
}

ul {
    list-style-type: none;
}